<!-- MATHJAX -->
<!-- <script type="text/x-mathjax-config">
MathJax.Hub.Config({
 "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true } }
});
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<!-- SLIDER -->
{% include slider_scripts.html %}

<!-- fontawesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

<!-- GIFFFER -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gifffer/1.5.0/gifffer.min.js"></script>

<script>
  window.onload = function() {
    Gifffer({
      playButtonStyles: {
        'width': '60px',
        'height': '60px',
        'border-radius': '30px',
        'background': 'rgba(255,255,255, 0.6)',
        'position': 'absolute',
        'top': '50%',
        'left': '50%',
        'margin': '-30px 0 0 -30px'
      },
      playButtonIconStyles: {
        'width': '0',
        'height': '0',
        'border-top': '14px solid transparent',
        'border-bottom': '14px solid transparent',
        'border-left': '14px solid rgba(0, 0, 0, 0.5)',
        'position': 'absolute',
        'left': '26px',
        'top': '16px'
      }
    });
  }
  function mapScrollOff() {
    var element = document.getElementById("map");
    var className = "mapscrolloff";
    var currentClassName = element.getAttribute("class");
    if (typeof currentClassName !== "undefined" && currentClassName) {
      if (!currentClassName.includes(className)) {
        element.setAttribute("class", currentClassName + " " + className);
      }
    } else {
      element.setAttribute("class", className);
    }
  }
  function mapScrollOn() {
    var element = document.getElementById("map");
    var className = "mapscrolloff";
    var currentClassName = element.getAttribute("class");
    if (typeof currentClassName!== "undefined" && currentClassName) {
      var class2RemoveIndex = currentClassName.indexOf(className);
      if (class2RemoveIndex != -1) {
          var class2Remove = currentClassName.substr(class2RemoveIndex, className.length);
          var updatedClassName = currentClassName.replace(class2Remove,"").trim();
          element.setAttribute("class",updatedClassName);
      }
    } else {
      element.removeAttribute("class");
    }
  }


  // function mapScrollOn() {
  //   var element = document.getElementById("map");
  //   element.className = element.className.replace(/\bscrolloff\b/g, "");
  // }
  // function mapScrollOff() {
  //   element.classList.remove('scrolloff');
  // }
</script>

<!-- <script>
window.addEventListener('scroll', function(){
  document.getElementsByClassName('container')[0].scrollTop += pageYOffset;
 }, true)
</script> -->
