/* :root {
  --main-size-large: 49rem;
} */

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.post-body p {
  text-justify: inter-character;
}

#sidebar header, #sidebar #sidebar-nav-links {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
}

.site-title {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 800 !important;
}

.post-title {
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important;
}

@media (min-width: 49rem) {
  body {
    background-image: url('../images/dark.png');
    background-size: cover;
  }
}

@media (max-width: 49rem) {
  body {
    background-image: url('../images/dark.png');
    background-size: 100%;
  }
}

@media (min-width: 49rem) {
  .container {
    overflow-x: hidden;
    width: 80%;
    max-width: 90rem !important;
  }
  .container .content {
    width: 95%;
    max-width: 85rem;
  }
}

@media (min-width: 100rem) {
  #sidebar {
    margin: 0 0 0 auto;
    border-left: 6px solid white;
  }
  .container {
    margin: 0 auto 0 0;
  }
}

.mapscrolloff iframe {
  pointer-events: none !important;
}

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax > h1 {
  color: white;
  text-align: center;
  line-height: 500px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.cover {
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

@media (min-width: 49rem) {
  .parallax {
    margin-left: -4rem;
    width: calc(100% + 13rem);
  }
}

@media (max-width: 49rem) {
  .parallax {
    background-attachment: scroll;
  }
  .parallax > h1 {
    line-height: 100%;
    padding-top: 50px;
  }
}


/* @media (min-width: 80rem) {
  .container {
    padding-left: 128px !important;
    padding-right: 128px !important;
    padding-left: auto !important;
    padding-right: auto !important;
  }
} */
