:root {
  --main-size-large: 49rem;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.post-body p {
  text-align: justify;
  text-justify: inter-character;
}

#sidebar header, #sidebar #sidebar-nav-links {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
}

.site-title {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 800 !important;
}

body {
  overflow: hidden;
}

.post-title {
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important;
}

@media (min-width: 49rem) {
  body {
    background-image: url('../images/dark.png');
    background-size: cover;
  }
}

@media (max-width: 49rem) {
  body {
    background-image: url('../images/dark.png');
    background-size: 100%;
  }
}

@media (min-width: 49rem) {
  .container {
    max-width: 52rem !important;
  }
  .container .content {
    max-width: 40rem;
  }
}
/* @media (min-width: 80rem) {
  .container {
    padding-left: 128px !important;
    padding-right: 128px !important;
    padding-left: auto !important;
    padding-right: auto !important;
  }
} */
